@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");



.search-form__loader,
.search-form__loader:after {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}
.search-form__loader {
  vertical-align: middle;
  margin-left: 1em;
  display: inline-block;
  font-size: 10px;
  position: relative;
  border: 0.2em solid hsla(0, 0%, 100%, 0.2);
  border-left-color: #fff;
  transform: translateZ(0);
  animation: a 1.1s infinite linear;
}
@keyframes a {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.mr-10 {
  margin-right: 15px;
}

.active {
  background-color: #4295cf;
  /* border-radius: 5px; */
  padding: 8px 25px;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.not-active {
  background-color: white;
  /* border-radius: 5px; */
  padding: 8px 25px;
  color: black;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid lightgray;
}

.tour-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tour-tabs {
  display: flex;
  align-items: center;
  width: 60%;
  flex-wrap: wrap;
}

.tour-input-container {
  background-color: white;
  padding: 10px;
}

.tour-select-fields {
  display: flex;
  justify-content: center;
  column-gap: 7px;
  margin-top: 10px;
}

.active-tab {
  border-bottom: 3px solid #4295cf;
  /* border-radius: 5px; */
  padding-bottom: 5px;
  font-size: 15px;
  cursor: pointer;
}

.not-active-tab {
  border-bottom: 3px solid white;
  /* border-radius: 5px; */
  padding-bottom: 5px;
  color: #8a8a8a;
  font-size: 15px;
  cursor: pointer;
}

.main-container {
  /* box-shadow: 0px 2px 6px 3px #ededed; */
  /* border-radius: 10px; */
  color: black;
  padding: 8px;
  background-color: #f2f2f2;
}

.aircraft-list-container {
  /* box-shadow: 0px 2px 6px 3px #ededed; */
  /* border-radius: 10px; */
  color: black;
  padding: 15px 15px 15px 15px;
  background-color: #f2f2f2;
}

.location-dropdown {
  position: relative;
  width: 31%;
}

.location-field {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  width: 100%;
}

.location-field:focus {
  border: 1px solid lightblue;
}

.location-field > svg {
  font-size: 17px;
}

.location-field > input {
  border: none;
  width: 100%;
  background-color: transparent;
  margin-left: 10px;
  font-size: 15px;
}

.location-field input:focus {
  outline: none;
}

.staticDisplay {
  position: static;
}

.dropdown {
  position: absolute;
  background: #fff;
  top: 43px;
  z-index: 10;
  width: max-content;
  border: 1px solid #d3d3d3;
  text-align: left;
}

.dropdown p {
  /* padding-bottom: 10px; */
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}

.dropdown p:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.date-time-picker {
  width: 26%;
  position: relative;
}

.date-time-picker > .react-datepicker-wrapper {
  width: 100%;
  height: 100%;
}

.date-time-picker
  > .react-datepicker-wrapper
  > .react-datepicker__input-container {
    height: 100%;
  }

.date-time-picker
  > .react-datepicker-wrapper
  > .react-datepicker__input-container
  > .custom-input {
  padding: 9px;
  font-size: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid lightgray !important;
}

.date-time-picker
  > .react-datepicker-wrapper
  > .react-datepicker__input-container
  > .custom-input
  > .date-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  margin-right: 16px;
}

.date-time-picker
  > .react-datepicker-wrapper
  > .react-datepicker__input-container
  > .custom-input
  > .icon {
  margin-right: 10px; /* Increase the spacing on smaller screens */
}

.date-time-picker
  > .react-datepicker-wrapper
  > .react-datepicker__input-container
  > .custom-input
  > .icon
  > svg {
  font-size: 16px;
}

.date-time-picker
  > .react-datepicker-wrapper
  > .react-datepicker__input-container
  > .custom-input
  > .date-input
  > .time {
  border-left: 1px solid lightgray;
  padding-left: 30px;
  font-size: 14px;
}

.date-time-picker
  > .react-datepicker-wrapper
  > .react-datepicker__input-container
  > .custom-input
  > .date-input
  > .date {
  font-size: 14px;
  padding-right: 15px;
}

.date-time-picker
  > .react-datepicker-wrapper
  > .react-datepicker__input-container
  > input:focus {
  outline-color: #4295cf;
}

.react-datepicker-popper[data-placement^="bottom"] {
  padding-top: 0px !important;
  transform: translate(0px, 39px) !important;
  width: 328px;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__day--selected {
  background-color: #0071ba !important;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: #0071ba !important;
}

li.react-datepicker__time-list-item.react-datepicker__time-list-item--disabled,
li.react-datepicker__time-list-item.react-datepicker__time-list-item--selected {
  margin: 0;
}
@media (min-width: 1100px) {
  .react-datepicker {
    display: flex !important;
  }

}


.person {
  display: flex;
  align-items: center;
}

.person-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  padding: 0.4rem;
  padding-right: 10px;
  /* border-radius: 5px; */
  width: 13%;
}

.person-counter > svg {
  cursor: pointer;
}

.person-counter p {
  font-size: 14px;
}

.person-counter > .counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  column-gap: 20px;
}

.person-counter > .counter > svg {
  cursor: pointer;
  font-size: 15px;
}

.delete-icon {
  cursor: pointer;
  color: red;
}

.empty-text {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 18px;
}

.btn {
  background-color: #4295cf;
  padding: 0.6rem;
  color: white;
  font-size: 15px;
  border: none;
  justify-content: center !important;
  min-width: 8rem;
  text-align: center;
}
.overflow-design::-webkit-scrollbar {
  width: 0px;
  height: 20px;
}

/* Track */
.overflow-design::-webkit-scrollbar-track {
  background: #F2F2F2;
}

/* Handle */
.overflow-design::-webkit-scrollbar-thumb {
  background: #F2F2F2;
}

/* Handle on hover */
.overflow-design::-webkit-scrollbar-thumb:hover {
  background: #F2F2F2;
}

.btn:hover {
  background-color: #235f88;
}

.search-btn {
  margin-top: 7px;
  justify-content: flex-end;
  display: flex;
  column-gap: 10px;
  position: relative;
  /* min-height: 3rem; */
  align-items: center;
}

.search-btn > p {
  text-decoration: underline;
  color: #4295cf;
  margin-right: 20px;
  cursor: pointer;
}

.currency {
  padding: 11px 30px;
  /* border-radius: 5px; */
  border-color: lightgray;
  cursor: pointer;
}

.currency:focus {
  outline-color: #4295cf;
}

.jet-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jet-card > div {
  width: 24%;
}

.jet-card > div > img {
  width: 100%;
  /* border-radius: 5px; */
}

.jet-card > .content {
  margin-left: 15px;
  text-align: left;
}

.jet-card > .content > p {
  font-size: 14px;
  line-height: 1.7;
}

.jet-card > .content > h3 {
  font-weight: 500;
}

.jet-section {
  background-color: white;
  padding: 14px;
  margin-top: 10px;
}

.craft-types {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.craft-types p {
  margin-right: 15px;
  margin-bottom: 15px;
}

.inqiury-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 25px;
  margin-bottom: 30px;
}

.inqiury-form .inqiury {
  width: 33%;
  position: relative;
}

.inqiury-form .inqiury:nth-last-child(1) input{
  width: 100% !important;
}

.inquiry-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}

.inquiry-header p {
  font-size: 15px;
  color: gray;
}

.no-result:hover {
  background-color: transparent !important;
}

.error-message {
  font-size: 13px;
  color: red;
  margin-left: 6px;
  position: absolute;
  top: 100%; /* Position it just below the input field */
  left: 0;
}

.highlight-text {
  font-weight: 600;
}

.inquiry-error {
  padding: 5px;
}

.error-field {
  border: 1px solid red !important;
}

.inquir-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.price-btn-box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  min-width: 9rem;
}

.price-btn-box p {
  font-size: 13px;
  margin-top: 7px;
}

.price-btn-box button span {
  font-size: 15px;
  font-weight: 600;
}

.price-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  filter: blur(3px);
}

.extra-info-fields {
  margin-top: 15px;
}

.extra-info-fields > p {
  color: #8f8f8f;
}


.extra-info-fields > button {
  margin-top: 15px;
  margin-bottom: 15px;
}

.extra-info-fields > div {
  margin-top: 15px;
}

.extra-info-fields > input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 30%;
  font-size: 16px;
}

.extra-info-fields > input:focus {
  outline: none;
}

.greay-text {
  color: #8f8f8f;
}

.close-icon {
  cursor: pointer;
  color: #4295cf;
}

.close-icon:hover {
  color: #235f88 !important;
}

.phoneNumber > *,
.phoneNumber button {
  border-radius: 0px !important;
  font-size: 15px !important;
  color: black !important;
  height: 40px !important;
}

.widget-container{
  width: 100%;
  border-radius: 10px;
  background: white;
}
.widget-container .react-datepicker__month-container{
  width: 70.5%;
}
.widget-container .tour-tabs{
  width: 100%;
}
.widget-fields{
  flex-direction: column;
  row-gap: 20px;
}
.widget-fields .location-dropdown{
  width: 100%;
}
.widget-fields .date-time-picker{
  width: 100%;
}
.widget-fields .person-counter{
  width: 100%;
}
.widget-container .search-btn{
  width: 100%;
  margin-top: 15px;
}

.widget-container .search-btn .btn {
  min-width: 100% !important;
}
.widget-fields .person-counter .counter{
  width: 23%;
}

@media (max-width: 1000px) {
  .mt-10 {
    margin-top: 10px;
  }

  .main-container {
    width: 100%;
  }

  .tour-header {
    flex-direction: column;
  }

  .tour-tabs {
    width: 100%;
    row-gap: 10px;
  }

  .tour-select-fields {
    flex-wrap: wrap;
  }

  .location-dropdown {
    width: 49%;
    margin-bottom: 10px;
    flex-grow: 1;
  }

  .staticDisplay {
    position: static !important;
  }

  .date-time-picker
    > .react-datepicker-wrapper
    > .react-datepicker__input-container
    > .custom-input
    > .date-input {
    width: 96% !important;
  }

  .date-time-picker {
    width: 49%;
    flex-grow: 1;
  }

  .person-counter {
    /* min-width: 49.5%; */
    flex-grow: 1;
  }

  .price-btn-box {
    justify-content: center !important;
  }

  .currency {
    margin-top: 10px;
  }

  .jet-card {
    flex-direction: column;
    margin-top: 20px;
  }

  .jet-card > div {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .inqiury-form {
    flex-direction: column;
    row-gap: 10px;
  }

  .inqiury-form .inqiury {
    width: 100% !important;
    margin-top: 15px !important;
  }

  #roundTripDatePicker {
    margin-bottom: 10px;
  }

}

@media (max-width: 600px) {
  .dropdown {
    width: 100%;
  }

  .tour-select-fields {
    flex-direction: column;
  }

  .tour-select-fields > * {
    width: 100%;
  }

  .date-time-picker
    > .react-datepicker-wrapper
    > .react-datepicker__input-container
    > .custom-input
    > .date-input
    > .date {
    padding-right: 15px;
  }

  .date-time-picker
    > .react-datepicker-wrapper
    > .react-datepicker__input-container
    > .custom-input
    > .date-input
    > .time {
    padding-left: 15px;
  }

  #roundTripDatePicker {
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .person-counter {
    margin-top: 10px;
  }
}

@media (max-width: 380px) {
  .inquir-btn > button {
    min-width: 6rem;
  }
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box {
    text-align: start !important;
  }
  .react-datepicker__time-container {
    width: 53px !important;
  }
  .react-datepicker__time-box {
    width: 53px !important;
  }
}

@media (max-width: 339px) {
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box {
    text-align: center !important;
  }
  .react-datepicker__time-container {
    width: 85px !important;
  }
  .react-datepicker__time-box {
    width: 85px !important;
  }
}
